<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link href="../static/css/table.css" th:href="@{/css/table.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.css}">
<script type="text/javascript" charset="utf8" th:src="@{/DataTables/datatables.js}"></script>

</head>

<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${employee}" class="container my-5">
					<p class="my-5">
						<a href="/view/post" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Employee</i></a>
						<a href="/rest/download" id="download_btn"class="btn btn-outline-success my-2 my-sm-0">Download Data</a>
					</p>
					
					<form th:object="${employee}" th:action="@{/view/findByid}"
						method="get">
						<input name="search" id="search" th:object="${search}"
							class="form-control mr-sm-2" type="number"
							placeholder="Search By ID" required="required" />
							<div id="idChecked"></div>
						<button id="btnSubmit"class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						<div th:if="${not #lists.isEmpty(search)}">
							<h2>Employee found</h2>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Height</th>
										<th>Weight</th>
										<th>EnglishName</th>
										<th>ChineseName</th>
										<th>Ext</th>
										<th>Email</th>
										<th>Bmi</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="employee : ${search}">
										<td th:text="${employee.getId()}"></td>
										<td th:text="${employee.height}"></td>
										<td th:text="${employee.weight}"></td>
										<td th:text="${employee.getengName()}"></td>
										<td th:text="${employee.getchnName()}"></td>
										<td th:text="${employee.getExt()}"></td>
										<td th:text="${employee.getEmail()}"></td>
										<td th:text="${employee.getBMI()}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
					<div class="col-md-10">
						<h2 th:case="null"></h2>
						<div th:case="*">
							<table id="dataTable" class="table table-striped table-responsive-md "
								>
								<thead>
									<tr>
										<th>ID</th>
										<th>Height</th>
										<th>Weight</th>
										<th>EnglishName</th>
										<th>ChineseName</th>
										<th>Ext</th>
										<th>Email</th>
										<th>Bmi</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="employee : ${employee}">
										<td th:text="${employee.getId()}"></td>
										<td th:text="${employee.height}"></td>
										<td th:text="${employee.weight}"></td>
										<td th:text="${employee.getengName()}"></td>
										<td th:text="${employee.getchnName()}"></td>
										<td th:text="${employee.getExt()}"></td>
										<td th:text="${employee.getEmail()}"></td>
										<td th:text="${employee.getBMI()}"></td>
										<td><a
											th:href="@{/view/edit/{id}(id=${employee.getId()})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a th:href="@{/view/delete/{id}(id=${employee.id})}"
											onclick="return confirm('Are you sure you want to delete this data?');"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	$(document).ready(function () {
		$('#dataTable').DataTable({
		"ordering": true ,
		"searching": false
		});
		
		});
	</script>
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#search').blur(function() {
				var value = $(this).val();

				$.ajax({
					type : 'get',
					url : '/rest/checkId',
					data : {
						id : value
					},
					success : function(data) {
						var msg = "<h6>this ID didn't exist</h6>"
						if (data) {
							$('#idChecked').hide();
							$("#btnSubmit").attr("disabled", false);
						} else {
							$('#idChecked').html(msg).show();
							$("#btnSubmit").attr("disabled", true);
						}
					}
				});
			});
		});
		</script>
	<div th:replace="fragments/footer::footer"></div>
</body>


</html>